


body{

    display: flex; background: radial-gradient( #ffa5f4 -50%, #000000 85%)  ;
    background-position:55px -600px;
    background-size: 300% 200% ;
}

.Autoinicio{
    
    translate: 12% -10%;
    width: 100%;
    height: 100%;
}



.Logoinicio{
    filter: drop-shadow(1px 1px 5px rgb(255, 186, 241));
    margin-left: -80%;
    width: 140px;
    height: 140px;

}